---
layout: contact
title: Contact
permalink: /contact/
---

<div class="container mtb">
  <div class="row">
    <div class="col-lg-10">
      <h4>Just Get In Touch!</h4>

      {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}">
        <span class="hb hb-md spin hb-github"><i class="fa fa-github-alt"></i></span>
      </a>
      {% endif %} {% if site.author.twitter %}
      <a href="https://twitter.com/{{ site.author.twitter }}">
        <span class="hb hb-md spin hb-twitter"><i class="fa fa-twitter"></i></span>
      </a>
      {% endif %} {% if site.author.linkedin %}
      <a href="https://linkedin.com/in/{{ site.author.linkedin }}">
        <span class="hb hb-md spin hb-linkedin"><i class="fa fa-linkedin-square"></i></span>
      </a>
      {% endif %} {% if site.author.behance %}
      <a href="https://behance.net/{{ site.author.behance }}">
        <span class="hb hb-md spin hb-behance"><i class="fa fa-behance"></i></span></a>
      </a>
      {% endif %} {% if site.author.medium %}
      <a href="https://medium.com/{{ site.author.medium }}">
        <span class="hb hb-md spin hb-medium"><i class="fa fa-medium"></i></span></a>
      </a>
      {% endif %} {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}">
        <span class="hb hb-md spin hb-envelope"><i class="fa fa-envelope"></i></span></a>
      </a>
      {% endif %}
    </div>
    <! --/col-lg-10 -->

  </div>
  <! --/row -->
</div>
<! --/container -->
