/* Bourbon Refill */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: #f6f6f6;
  border: 1px solid gainsboro;
  border-radius: 3px;
  box-shadow: 0 2px 4px #e6e6e6;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 1em 1.5em 1em;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.card .card-image {
  background-color: #F8F2B4;
  height: 150px;
  max-height: 150px;
  overflow: hidden;
}
.card .card-image img {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.card .card-header {
  background-color: #f6f6f6;
  border-bottom: 1px solid gainsboro;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0.5em 0.75em;
  transition: all 0.2s ease-in-out;
}
.card .card-copy {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0.75em 0.75em;
}
.card .card-copy p {
  margin: 0 0 0.75em;
}
.card .card-copy a {
  display: inline-block;
  text-align: center;
  background: red;
  color: black;
  padding: 1em;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 1em;
}
.card .card-copy a:hover {
  background: #;
  color: white;
  cursor: pointer;
}
.card:active {
  background-color: #f6f6f6;
}
.card:active .card-header {
  background-color: #f6f6f6;
}
